.sidebar#future
  %h2 Upcoming Articles
  - posts = Post.future_articles
  - if posts.count >0
    %ul
      - posts.each do |article|
        %li <strong>#{article.title}</strong>
  - else
    %p There are no upcoming articles at this time.