.sidebar#future
  %h2 Upcoming Articles
  - posts = Post.future_articles
  - if posts.count >0
    %ul
      - posts.each do |article|
        %li
          %a{rel: "tooltip", title: "Coming Soon!  Subscribe to be notified."}= article.title
  - else
    %p There are no upcoming articles at this time.

  = sm_icon(name: "twitter", tool_title: "Test title", href: sm_twitter_path)