
#bar
{
	background-color:#5fbbde;
	width:0px;
	height:16px;
}
#barbox
{
	float: left;
	height:16px; 
	background-color:#FFFFFF; 
	width:100px; 
	border:solid 1px #CCC; 
	margin-right:3px;
	margin-bottom: 10px;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
}
#count
{
	float: left;
	margin-right:8px;  
}

#contentbox
{
	margin-bottom: 0px;
}

#barbox-clear
{
	clear: left;
}