// General

h1 {
	margin-bottom: 20px;
}

#post-list {
	margin-top: 10px;
}

// Sidebars

.sidebar {
	background-color:#FFFFFF; 
	width: auto; 
	border:solid 1px #CCC; 
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	margin-bottom: 15px;

	h2 {
		text-align: center;
		margin-bottom: 5px;
	}

	ul li {
		list-style-type: none;
	}
}

// This is the character counter for the post title
#bar
{
	background-color:#5fbbde;
	width:0px;
	height:16px;
}
#barbox
{
	float: left;
	height:16px; 
	background-color:#FFFFFF; 
	width:100px; 
	border:solid 1px #CCC; 
	margin-right:3px;
	margin-bottom: 10px;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
}
#count
{
	float: left;
	margin-right:8px;  
}

#contentbox
{
	margin-bottom: 0px;
}

#barbox-clear
{
	clear: left;
}