.sidebar#popular
  %h2 Popular Articles
  %ul
    - Post.popular_articles(10).each do |article|
      %li
        %p
          <strong>
          = link_to article.title, article_url(article)
          </strong>
          %br
          <em>Read count:</em> <strong>#{article.read_count}</strong>