// Place all the styles related to the error controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

div.error-message {

	margin-bottom: 20px;

	h1 {
		text-align: center;
		margin-bottom: 10px;
	}

	p {
		text-align: center;
		font-size: 1.3em;
	}
}